/*---basic styles----*/
@font-face{
	font-family: Glacial Indifference;
	src: url('../fonts/glacialindifference-regular.otf') format('opentype');
}

body{
	color: #222222;
	background: white;
}

h2{
	font-family: 'Glacial Indifference', sans-serif;
	text-transform: uppercase;
	font-size: 55px;
	letter-spacing: 14px;
}

p{
	font-family: 'Abhaya Libre', serif;
	font-size:  19px;
	line-height: 2;
}

/*---structure---*/

.full-width{
	width: 1200px;
	overflow: auto;
	margin: auto;
}

.col-width-1, .col-width-2, .col-width-3, .col-width-4{
	float: left;
	overflow: auto;
}

/*---header----*/

.col-width-1{
	width: 600px;
}

.col-width-2{
	width: 510px;

}

header h2{
	padding-left: 87px;
	padding-top: 20px;
}

#picture{
	background: url('../img/marike.jpg');
	height: 537px;
}

#top-header{
	height: 180px;
}

nav{
	font-family: 'Glacial Indifference', sans-serif;
	font-size: 16.5px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

nav ul{
	list-style-type: none;
	line-height: 2;
	padding-left: 140px;
	padding-top: 30px;
}

nav ul li a{
	color: #222222;
	text-decoration: none;
}

#box-text{
	padding-left: 87px;
}


/*---about----*/

#me{
	box-sizing: border-box;
	width: 930px;
	height: 410px;
	background: #d1b299;
	margin-left: 427px;
	overflow: auto;
	clear: both;
}

#about-heading{
	float: left;
	overflow: auto;
	padding-left: 125px;
	padding-top: 50px;
}


#about-text{
	float: left;
	overflow: auto;
	width: 380px;
	padding-top: 100px;
	padding-left: 80px;

}

/*---portfolio----*/

portfolio h2{
	padding-top: 70px;
}

portfolio .full-width{
	padding-left: 150px;
	padding-bottom: 100px;
}

h3{
	font-family: 'Glacial Indifference', sans-serif;
	font-size: 21px;
	letter-spacing: 9px;
	float: left;
	overflow: auto;
	padding-top: 16px;
	padding-right: 5px;
}

portfolio p{
	float: left;
	overflow: auto;
	padding-left: 20px;
	width: 800px;
	font-size: 18px;
	letter-spacing: 0.8px;
}

.portfolio-item{
	width:1100px;
	margin-bottom: 110px;
}

/*---contact----*/

.col-width-3{
	box-sizing: border-box;
	background: #d1b299;
	width: 510px;
	height: 474px;
	margin-left: 150px;
}

contact h2{
	float: left;
	padding-left: 100px;
	padding-top: 30px;
}

contact ul{
	float: left;
	list-style-type: none;
	font-family: 'Abhaya Libre', serif;
	font-size: 19.5px;
	line-height: 2;
	padding-left: 60px;
	padding-top: 120px;
}

.col-width-4{
	width: 690px;
	height: 474px;
	background: url('../img/dunes-background.png');
}

#icon-box1{
	margin-left: 99px;
	margin-top: 68px;
}

#icon-box2{
	margin-left: 324px;
	margin-top: 68px;
}

#icon-box3{
	margin-left: 536px;
	margin-top: 68px;
}

/*---footer----*/

footer p{
	text-align: center;
	font-size: 18px;
}

#icon{
	font-size: 15px;
}